@model HellsFilmsBlog

<section class="contact-area contact-bg" data-background="/img/bg/contact_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="contact-form-wrap">
                    <div class="widget-title mb-50">
                        <h5 class="title">Добавить</h5>
                    </div>
                    <div class="contact-form">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsBlogName" class="control-label">Наименование</label>
                            <input asp-for="HellsFilmsBlogName" class="form-control" />
                            <span asp-validation-for="HellsFilmsBlogName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsBlogDate" class="control-label">Дата (дд.мм.гггг)</label>
                            <input asp-for="HellsFilmsBlogDate" class="form-control" />
                            <span asp-validation-for="HellsFilmsBlogDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageUpload" class="control-label">Загрузите фотографию</label>
                            <input type="file" id="files" asp-for="ImageUpload" />
                            <span asp-validation-for="ImageUpload" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HellsFilmsBlogDescription" class="control-label">Описание</label>
                            <textarea asp-for="HellsFilmsBlogDescription" class="form-control"></textarea>
                            <span asp-validation-for="HellsFilmsBlogDescription" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Тег</label>
                            <select asp-for="HellsFilmsTagID" class="form-control" asp-items="ViewBag.Tag">
                                <option value="0">Выберите категорию</option>
                            </select>
                            <span asp-validation-for="HellsFilmsTagID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn">Создать</button>
                        </div>
                    </form>
                    </div>
                    <a asp-action="Index" class="btn">Вернуться обратно</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
<script>

    CKEDITOR.replace('HellsFilmsBlogDescription');
</script>