@model HellsFilmsSerial


<section class="contact-area contact-bg" data-background="/img/bg/contact_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="contact-form-wrap">
                    <div class="widget-title mb-50">
                        <h5 class="title">Изменение</h5>
                    </div>
                    <div class="contact-form">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialName" class="control-label">Наименование</label>
                            <input asp-for="HellsFilmsSerialName" class="form-control" />
                            <span asp-validation-for="HellsFilmsSerialName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialDate" class="control-label">Дата (гггг)</label>
                            <input asp-for="HellsFilmsSerialDate" class="form-control" />
                            <span asp-validation-for="HellsFilmsSerialDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialRating" class="control-label">Рейтинг</label>
                            <input asp-for="HellsFilmsSerialRating" class="form-control"></input>
                            <span asp-validation-for="HellsFilmsSerialRating" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialIDSerial" class="control-label">ID Фильма с KINOPOISK</label>
                            <input asp-for="HellsFilmsSerialIDSerial" class="form-control" />
                            <span asp-validation-for="HellsFilmsSerialIDSerial" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HellsFilmsSerialPhoto" class="control-label">Ссылка на фото</label>
                            <input asp-for="HellsFilmsSerialPhoto" class="form-control" />
                            <span asp-validation-for="HellsFilmsSerialPhoto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn">Изменить</button>
                        </div>
                    </form>
                    </div>
                    <a asp-action="Index" class="btn">Вернуться обратно</a>
                </div>
            </div>
        </div>
    </div>
</section>