<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS files -->
@if (ViewBag.Title != null)
{
    <title>HFilms</title>
}
else
{
    <title>HFilms</title>
}