@model HellsFilmsUser

<!-- contact-area -->
<section class="contact-area contact-bg" data-background="/img/bg/contact_bg.jpg">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-lg-7">
				<div class="contact-form-wrap">
					<div class="widget-title mb-50">
						<h5 class="title">Вход</h5>
					</div>
					<div class="contact-form">
						<form asp-action="Create">
							<div asp-validation-summary="All" class="text-danger"></div>
							<div class="row">
								<div class="col-md-6">
									<input asp-for="HellsFilmsUserLogin" type="text" placeholder="Логин" />
								</div>
								<div class="col-md-6">
									<input asp-for="HellsFilmsUserEmail" type="email" placeholder="Почта" />
								</div>
							</div>
							<input asp-for="HellsFilmsUserPassword" type="password" placeholder="Пароль">
							<div class="form-group">
								<button class="btn">Авторизация</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>